<h1>Registrar nuevo automóvil</h1>
<form novalidate ng-submit="saveAuto()" name="frm">
    <p>
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre" ng-model="auto.nombre" ng-required="true"/>
    </p>
    <p>
        <label for="nombremarca">Marca</label>
        <select id="nombremarca" name="nombremarca" ng-model="auto.idmarca" ng-required="true" ng-options="marca.id as marca.nombre for marca in marcas">
        </select>
    </p>
    <p>
        <label for="precio">Precio</label>
        <input type="number" name="precio" id="precio" ng-model="auto.precio" ng-required="true"/>
    </p>

    <p>
        <label for="kilometraje">Kilometraje</label>
        <input type="number" name="kilometraje" id="kilometraje" ng-model="auto.kilometraje" ng-required="true"/>
    </p>
    <button type="submit" ng-disabled="frm.$invalid">Guardar</button>
</form>
<h1>Automóviles registrados</h1>
<ul>
    <li ng-repeat="auto in autos">
        <div class="img" style="background: url(img/{{auto.id}}.png)" ng-if="auto.id <= 4"></div><div ng-if="auto.id > 4" class="img" style="background: url(img/1.png)"></div>
        <div class="texto">
            <h2>{{auto.nombremarca}} {{auto.nombre}}</h2>
            <span>{{auto.precio | currency}}</span><br/>
            <p>Km. {{auto.kilometraje | number}}</p>
        </div>
        <div class="btn" ng-click="editar(auto)">Editar</div>
    </li>
</ul>