body{
    font-family: arial;
    background: #ccc;
    padding: 25px;
}

h1{
    background: white;
    padding: 10px;
    border-left: 3px solid blue;
    font-size: 25px;
}

ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

li{
    margin: 0px;
    padding: 0px;
    float: left;
    background: white;
    display: block;
    width: 250px;
    height: 350px;
    margin-right: 25px;
    position: relative
}

.img{
    width: 250px;
    height: 150px;
    background: pink;
}
.texto{
    text-align: center;
    padding-top: 25px;
}

.texto h2{
    font-size: 20px;
}

.texto span{
    font-size: 18px;
}

form{
    background: white;
    padding: 25px;
}

.btn{
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    background: #5cb85c;
    color: white;
    padding: 10px 0px;
}
.btn:hover{
    opacity: 0.8;
}